@{
    ViewBag.Title = "Home Page";
}
<body>

    <form>
        <br />
        Value 1: <input type="text" />
        <br />
        <br />
        Value 2: <input type="text" />
        <br />
        <br />
        Operator: 
                 <select>
                     <option value="add">Add</option>
                     <option value="min">Minus</option>
                     <option value="div">Divide</option>
                     <option value="mul">Multiply</option>
                 </select>
    </form>

</body>

<script></script>